{
    "discord":
    {
        "token":"DISCORD SECRET KEY"
    },
    "youtube":
    {
        "token":"YOUTUBE OAUTHv2 KEY"
    },
    "bot":
    {
        "prefix":"!",
        "timeout":"TIMEOUT TIME",
        "logfile":"/path/to/logs"
    }
}
