{
    "discord":
    {
        "token":"DISCORD SECRET KEY"
    },
    "youtube":
    {
        "token":"YOUTUBE OAUTHv2 KEY"
    },
    "tmdb":
    {
        "token":"TMDB v3 TOKEN"
    },
    "bot":
    {
        "prefix":"!",
        "timeout":"TIMEOUT TIME",
        "auth_file":"/path/to/auth/file"
        "my_name":"BeeStingBot",
        "hangman":
        {
            "max_guess":int
        }
    }
}
